body {
/*    overflow: hidden;*/
    background: url("../Image/stardust.png") repeat;
}

* {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 2.5rem;
}
h2{
    font-size: 5rem;
    letter-spacing: 2rem;
}



/* RESET BOOTSTRAP */

.container-fluid {
    padding: 0;
    /* height: 800px; */
    display: flex;
}
.row {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.row > div {
    padding: 0;
    height: 100%;
    flex-grow: 1;
}

/* anim */
.test {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 100vh;
    width: 100vw;
    color: white;
    background-color: #0e151d;
    content: '';
    z-index: 2;
    justify-content: center;

    transition: min-height 2s;
    transition-timing-function: ease;
}
.test p{
    display: none;
    max-height: 80vh;
    font-size: 60px;
    font-weight: 400;
    overflow: hidden;
    align-items: center;
    transition: all 0.5s;
}
span.underscore {
    display:flex;
    font-size: 60px;
}
.test p span {
    height: 85px;
    font-size: 60px;
    font-weight: 400;
}
.change-letter-1:after {
    content: '_';
}
.single-letter {
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
#skip {
    background-color: #192533;
    color: white;
    position: fixed;
    bottom: 50px;
    left: 50%;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    padding: 25px;
}

@media all and (max-width: 1200px) {
    .test p span,
    .test span{
        font-size: 42px;
    }
    span.underscore {
        font-size: 42px;
    }
}
@media all and (max-width: 1000px) {
    .test p,
    .test span{
        font-size: 30px;
    }
    span.underscore {
        font-size: 30px;
    }
}
@media all and (max-width: 800px) {
    .test {
        display: none;
    }
}



/* Main */

.hr {
    margin-top: 100px;

    background-color: rgb(83, 154, 32);;
    height: 2px;
    width: 80%;
    margin: 15px 10%;
}
.hr-anim {
    -webkit-transition: -webkit-transform 600ms cubic-bezier(0,.94,.37,.95);
    transition: transform 600ms cubic-bezier(0,.94,.37,.95);
}
.hr-anim-stop {
    opacity: 0;
    transform: translateX(-100%);
}
.hr-anim-start {
    opacity: 1;
    transform: translateX(0%);
}

a,
a:focus,
a:hover,
a:visited{
    color: black;
    text-decoration: none;
}

#menu {
    overflow: hidden;
    padding: 15px;
}

#menu ul {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: black;
}

#menu ul a {
    flex-grow: 1;
    align-self: center;
}

#menu ul li {
    padding: 20px 0;
    color: white;
}

#menu ul li:hover{
    background-color: white;
    color: black;
}

#menu ul li img {
    height: 64px;
}
#menu #acceuil {
    display: none;
}

@media all and (max-width: 1200px) {
    #menu ul{
        flex-flow: column;
        width: 100%;
        display: block;
    }
    #menu ul li {
        padding: 5px;
    }
    #menu #acceuil {
        display: inherit;
    }
    #menu #logo {
        display: none;
    }
}



.glitch {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    text-decoration: none;
}

.glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    opacity: .8;
}

.glitch:after {
    color: #f0f;
    z-index: -2;
}

.glitch:before {
    color: #0ff;
    z-index: -1;
}

.glitch:hover:before {
    -webkit-animation: glitch .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    animation: glitch .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.glitch:hover:after {
    -webkit-animation: glitch .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    animation: glitch .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

@-webkit-keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -5px);
        transform: translate(-2px, -5px);
    }
    60% {
        -webkit-transform: translate(2px, 5px);
        transform: translate(2px, 5px);
    }
    80% {
        -webkit-transform: translate(4px, -3px);
        transform: translate(4px, -3px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -5px);
        transform: translate(-2px, -5px);
    }
    60% {
        -webkit-transform: translate(2px, 5px);
        transform: translate(2px, 5px);
    }
    80% {
        -webkit-transform: translate(4px, -3px);
        transform: translate(4px, -3px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* Console */

#wrapper-console {
    position: relative;
}
.console {
    display: block;
    height: 200px;
    border: 3px solid grey;
    border-radius: 3px;
    background-color: black;
    padding: 15px;
    padding-top: 40px;
    overflow-y: hidden;
}
#empty-line {
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: grey;
    border-radius: 3px;
}
.console .texte,
.console .underscore{
    color: rgb(83, 154, 32);
    display: inline;
    /*	text-shadow: 0px 1px 5px rgba(118, 160, 88, 0.8);*/
}
#rerun {
    float: right;
    background-color: #ffffff;
    font-size: 16px;
    padding: 0 5px;
    height: 100%;
    line-height: 25px;
    cursor: pointer;
    color: #b9b9b9;
}

/* Video */
.wrapper-trailer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper-trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}
div:hover > .overlay {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.overlay#overlay-glitch {
    background: url("../Image/glitch2.jpg") no-repeat center;
    background-size: cover;
}


/* Synopsis */
.wrapper-synopsis{
    text-align: center;
    padding: 25px;
    color: black;
    background: url("../Image/shl.png");
    /* height: 100%; */
    /* overflow: hidden; */
}
.wrapper-synopsis p{
    padding: 0 50px;
    margin-top: 50px;

}
.overlay-synopsis {
    text-align: center;
    padding: 25px;
    color: white;
    background: url("../Image/stardust.png") repeat;
}

/* shop */

  .item{
    width:95%;
    padding-top:30px;
    padding-bottom:30px;

  }
  .item > .row > div{
    padding: 2px;
  }

  .item h1{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 25px;
  }
  
  
    
  .item a{
    display:block;
    background:grey;
    padding: 10px;
  }

  .item .item-name{
    text-align: center;
    display: block;
    text-align: center;
    font-size: 2rem;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    .item .item-price{
    text-align: center;
    display: block;
    text-align: center;
    font-size: 2rem;
    position: relative;
    margin-bottom: 10px;
  }
  

 .item img{
  width: 100%;
  transition:  transform 200ms;
  transform: translate3d(0,0,0) scale(1.00);
  }
  .item img:hover {
  transform: translate3d(0,0,0) scale(1.20);
  z-index: 2;
}

/**** equipe *****/
.staff {
    display: inline-block;
    width: 25%;
    min-height: 400px;
    text-align: center;
    overflow: hidden;
}

.staff img {
    transform: translateX(-25%);
}

/********* Dossier de presse *************/
#dossierdepress {
	margin-left: 5%;
	margin-right: 5%;
	color: #8bacf5;
	text-align: justify;
}
